{
    "always_update_dns": false,
    "ddns_generate_hostname": false,
    "deny_all_clients": false,
    "deny_bootp": false,
    "disable": false,
    "discovery_basic_poll_settings": {
        "auto_arp_refresh_before_switch_port_polling": true,
        "complete_ping_sweep": false,
        "device_profile": false,
        "netbios_scanning": true,
        "port_scanning": false,
        "smart_subnet_ping_sweep": false,
        "snmp_collection": true,
        "switch_port_data_collection_polling": "PERIODIC",
        "switch_port_data_collection_polling_interval": 3600
    },
    "email_list": [],
    "enable_ddns": false,
    "enable_dhcp_thresholds": false,
    "enable_discovery": false,
    "enable_email_warnings": false,
    "enable_ifmap_publishing": false,
    "enable_snmp_warnings": false,
    "end_addr": "{{ end_addr }}",
    "exclude": [
        {
            "end_address": "{{ exc_end }}",
            "start_address": "{{ exc_start }}"
        }
    ],
    "extattrs": {},

    "failover_association": "{{ failover.name }}",
    "fingerprint_filter_rules": [],
    "high_water_mark": 95,
    "high_water_mark_reset": 85,
    "ignore_dhcp_option_list_request": false,
    "lease_scavenge_time": -1,
    "logic_filter_rules": [],
    "low_water_mark": 0,
    "low_water_mark_reset": 10,
    "mac_filter_rules": [],
    "ms_options": [],
    "nac_filter_rules": [],
    "network": "{{ network }}",
    "network_view": "default",
    "option_filter_rules": [],
    "options": [
        {
            "name": "dhcp-lease-time",
            "num": 51,
            "use_option": false,
            "value": "43200",
            "vendor_class": "DHCP"
        },
        {
            "name": "routers",
            "num": 3,
            "use_option": true,
            "value": "{{ start_addr }}",
            "vendor_class": "DHCP"
        }
{% if options %},
{% for option in options %}
        {
            "name": "{{ option.name }}",
            "num": "{{ option.num }}",
            "use_option": "{{ option.use_option }}",
            "value": "{{option.value }}",
            "vendor_class": "DHCP"
        }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif 5}
        ],
    "recycle_leases": true,
    "relay_agent_filter_rules": [],
    "server_association_type": "FAILOVER",
    "start_addr": "{{ start_addr }}",
    "update_dns_on_lease_renewal": false,
    "use_bootfile": false,
    "use_bootserver": false,
    "use_ddns_domainname": false,
    "use_ddns_generate_hostname": false,
    "use_deny_bootp": false,
    "use_discovery_basic_polling_settings": false,
    "use_email_list": false,
    "use_enable_ddns": false,
    "use_enable_dhcp_thresholds": false,
    "use_enable_discovery": false,
    "use_enable_ifmap_publishing": false,
    "use_ignore_dhcp_option_list_request": false,
    "use_known_clients": false,
    "use_lease_scavenge_time": false,
    "use_nextserver": false,
    "use_options": false,
    "use_recycle_leases": false,
    "use_unknown_clients": false,
    "use_update_dns_on_lease_renewal": false
}
