{
    "ipv4addr": "{{ address }}",
    "mac": "{{ mac_addr }}",
    "name": "{{ host }}",
    "options":
        [
            {
                "name": "dhcp-lease-time",
                "num": 51,
                "use_option": False,
                "value": "43200",
                "vendor_class": "DHCP"
            }
        ]
    }
}
