{
    "network": "{{network}}",
    "network_view": "{{network_view}}",
    "comment": "{{comment}}",
{% if filters is defined and filters != "" %}
    "authority": true,
    "use_authority": true,
    "use_logic_filter_rules": true,
    "logic_filter_rules": [
{% for filter in filters %}
    {
        "filter": "{{ filter.name }}",
        "type": "{{ filter.type }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
    ],
{% endif %}
    "members": 
        [
{% for member in dhcp_members %}
            {
                "_struct": "dhcpmember",
                "ipv4addr": "{{member.ipv4addr}}",
                "name":"{{member.host_name}}"
            }{% if not loop.last %},{% endif %}
{% endfor %}
        ]
}
